<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ChoreBuddy</title>
	<script type="text/javascript" src="/js/chorebuddy.js" defer></script>
	<link rel="stylesheet" href="/css/chorebuddy.css">
</head>
<body>
	<a href="/logout">Logout</a>
	<ul>
		<li><%= user_id %></li>
		<li><%= first %> <%= last %></li>
		<li><%= parent %> - <%= admin %></li>
	</ul>

	<div class="container">

		<div class="available-chores">

			<ul>
			</ul>

		</div>

	</div>

</body>
</html>